:root {
    font-family: system-ui;

    background-color: #121212;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: 20px;

    align-items: center;
}

h1 {
    text-align: center;
}

#state {
    margin: 0 auto 20px;
}

.footer {
    gap: 5px;

    p {
        margin: 0;
    }
}

a {
    color: #3E88EF;
    text-decoration: none;
}