<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Скайсмарт мейкер</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="wrapper">
        {% block content %}{% endblock %}

        <br>

        <div class="container footer">
            <p style="color: gray">🚀 Powered by magic 💫, your & my laziness 😴 and <a href="https://render.com">render.com</a></p>
            <p style="font-size: 30px">ОБНАРУЖЕН БАГ ГДЕ МЕЙКЕР ЗАНИЖАЕТ БАЛЛЫ, ИСПОЛЬЗОВАТЬ НА СВОЙ СТРАХ И РИСК</p>
        </div>
    </div>
</body>
</html>