{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
    <div class="container">
        <h1>Выполнить задание</h1>
        <form method="post" action="" class="form" id="form">
            <label for="url">Ссылка задания</label>
            <input type="text" name="url" id="url" required pattern="^https://edu\.skysmart\.ru/student/[a-zA-Z]{10}$" title="Неа, это не ссылка на скайсмарт задание">
            <label for="score">На сколько баллов (МОЖЕТ ОТЛИЧАТЬСЯ ОТ КОНЕЧНОГО БАЛЛА)</label>
            <input type="number" name="score" id="score" required min="0" max="100">
            <label for="between">Перерыв (в сек) между заданиями (чем ниже значения, тем быстрее, но ненадежней, можно недобрать баллы)</label>
            <input type="number" name="between" id="between" required min="0" max="10" value="3">
            <input type="submit" value="Решить" id="submit">
            <p id="state" style="display: none"></p>
        </form>
        <a href="/setauth" class="nav">Изменить данные</a>
    </div>
    <script>
        const errors = {
            'autherror': 'Неправильный логин или пароль',
            'notexist': 'Ссылка ведет на несуществующую задачу',
            'unhandled': 'Произошла непредвиденная ошибка, сори(',
            '': 'Завершено!',
        }

        async function handleSubmit(ev) {
            submit.disabled = true

            ev.preventDefault();
            stateHolder.style.display = 'unset';

            stateHolder.innerText = "Ожидание сервера...";
            const formdata = new FormData(ev.target);
            const url = formdata.get('url');
            const score = formdata.get('score');
            const between = formdata.get('between')

            const resp = await fetch(
                '/maker', {
                    method: 'post',
                    body: JSON.stringify({url, score, between}),
                    headers: {'Content-Type': 'application/json'},
                });

            const reader = resp.body.getReader();

            while (true) {
                const {value} = await reader.read();
                const raw_text = new TextDecoder().decode(value);
                const messages = raw_text.split('|');
                let last_msg = messages.slice(-1)[0];  // If there are multiple messages read at once, get last one
                const done = last_msg.startsWith('end');
                if (done) {
                    last_msg = errors[last_msg.split(':').slice(-1)[0]];
                }
                stateHolder.innerText = last_msg;
                if (done) break;
            }

            submit.disabled = false;
        }

        const form = document.getElementsByTagName('form')[0];
        const stateHolder = document.getElementById('state');
        const submit = document.getElementById('submit');

        form.addEventListener('submit', handleSubmit)
    </script>
{% endblock %}